<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-frame-parent">
                <div class="footer-frame-group">
                    <div class="footer-fitme-parent">
                        <div class="footer-fitme">Fit.Me</div>
                        <div class="footer-you-can-virtually">You can virtually try on any outfit you want online.</div>
                    </div>
                    <div class="footer-social">
                        <img class="footer-icon" alt="" src="1.svg">
                        <img class="footer-icon1" alt="" src="2.svg">
                        <img class="footer-icon2" alt="" src="3.svg">
                        <img class="footer-icon3" alt="" src="4.svg">
                    </div>
                </div>
                <div class="footer-help-menu-parent">
                    <div class="footer-help-menu">VIRTUAL TRY ON</div>
                    <img class="footer-image-icon" alt="" src="image.png">
                    <div class="footer-about-features-works-container">
                        <p class="footer-you-can-quickly">온라인에서 미리 입어보기</p>
                        <p class="footer-you-can-quickly">Fit.me</p>
                    </div>
                </div>
                <div class="footer-help-menu-group">
                    <div class="footer-help-menu">HELP</div>
                    <div class="footer-about-features-works-container1">
                        <p class="footer-you-can-quickly">Customer Support</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Delivery Details</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Terms & Conditions</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Privacy Policy</p>
                    </div>
                </div>
                <div class="footer-help-menu-group">
                    <div class="footer-help-menu">FAQ</div>
                    <div class="footer-about-features-works-container2">
                        <p class="footer-you-can-quickly">Account</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Manage Deliveries</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Orders</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Payments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="footer.js"></script>
