.extraInformation {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div,
.extraInformation {
  position: relative;
  line-height: 24px;
}
.uploadPhoto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--title-16px-regular-size);
}
.photoContainerChild {
  align-self: stretch;
  width: 603px;
  position: relative;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image60Icon {
  height: 527px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.extraInfo,
.photoContainer,
.photoContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.photoContainer {
  flex: 1;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs);
}
.extraInfo,
.photoContainerWrapper {
  align-self: stretch;
}
.photoContainerWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.extraInfo {
  flex-direction: column;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text2);
  font-family: var(--font-nanum-gothic);
}
@media screen and (max-width: 450px) {
  .extraInformation {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
}
