.footerChild {
  width: 1441px;
  height: 451px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.fitme {
  margin: 0;
  height: 19px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 91px;
}
.youCanVirtually {
  position: relative;
  line-height: 22px;
}
.dotsIcon {
  height: 28px;
  width: 28px;
  position: relative;
}
.descriptionContent,
.ellipsisContainer,
.fitMeDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipsisContainer {
  flex-direction: row;
  gap: var(--gap-xs);
}
.descriptionContent,
.fitMeDescription {
  flex-direction: column;
}
.descriptionContent {
  align-self: stretch;
  gap: var(--gap-16xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  font-family: var(--font-abeezee);
}
.fitMeDescription {
  width: 248px;
  gap: var(--gap-6xl);
  font-size: var(--font-size-13xl);
  font-family: var(--font-baloo-paaji);
}
.helpMenu {
  position: relative;
  letter-spacing: 3px;
  line-height: 18px;
  text-transform: uppercase;
}
.helpMenuContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 var(--padding-49xl);
}
.imageIcon {
  height: 81px;
  width: 81px;
  position: relative;
  object-fit: cover;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl);
}
.youCanQuickly {
  margin: 0;
}
.aboutFeaturesWorksContainer {
  align-self: stretch;
  position: relative;
  line-height: 19px;
  font-family: var(--font-abeezee);
  color: var(--color-gray-600);
  text-align: center;
}
.helpMenuImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.aboutFeaturesWorksContainer1 {
  position: relative;
  line-height: 19px;
  font-family: var(--font-abeezee);
  color: var(--color-gray-600);
}
.helpMenu2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 3px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
}
.aboutFeaturesWorksContainer2 {
  align-self: stretch;
  position: relative;
  line-height: 19px;
  font-family: var(--font-abeezee);
  color: var(--color-gray-600);
}
.helpMenuContainer,
.helpMenuTitles1 {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.helpMenuContainer {
  width: 1240px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.footerItem {
  width: 1241px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.allRightsReserved {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.badgeIcon {
  height: 30px;
  width: 46.6px;
  position: relative;
  border-radius: var(--br-7xs-4);
  z-index: 1;
}
.copyrightAndBadges,
.footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  font-family: var(--font-abeezee);
}
.footer {
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-73xl) var(--padding-80xl) var(--padding-63xl)
    var(--padding-66xl);
  box-sizing: border-box;
  gap: var(--gap-lgi-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--text2);
  font-family: var(--font-nanum-gothic);
}
@media screen and (max-width: 1100px) {
  .helpMenuContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .fitme {
    font-size: var(--font-size-7xl);
  }
  .copyrightAndBadges {
    flex-wrap: wrap;
  }
  .footer {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fitme {
    font-size: var(--font-size-lgi);
  }
  .footer {
    padding: var(--padding-41xl) var(--padding-xl) var(--padding-34xl);
    box-sizing: border-box;
  }
}
