.membershipTypeLabelsChild {
  height: 28px;
  width: 28px;
  position: relative;
}
.div {
  position: relative;
  line-height: 24px;
}
.membershipNames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.membershipTypeLabels,
.membershipTypeLabels1,
.membershipTypes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.membershipTypeLabels1,
.membershipTypes {
  gap: var(--gap-6xs);
}
.membershipTypes {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.information {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  color: var(--text2);
}
.membershipTypesParent {
  width: 278px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.memberTypeOptions,
.membershipTypesParent,
.requiredLabel {
  display: flex;
  align-items: flex-start;
}
.requiredLabel {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-81xl) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
}
.memberTypeOptions {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input {
  width: 252px;
  border: 0;
  outline: 0;
  font-family: var(--font-nanum-gothic);
  font-size: var(--title-16px-regular-size);
  background-color: transparent;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.idInputChild {
  height: 43px;
  width: 603px;
  position: relative;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.idInput,
.memberType {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.idInput {
  height: 43px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-smi) var(--padding-5xs);
  z-index: 1;
}
.memberType {
  flex-direction: column;
}
.input1,
.input2 {
  border: 0;
  outline: 0;
  font-family: var(--font-nanum-gothic);
  font-size: var(--title-16px-regular-size);
  background-color: transparent;
  position: relative;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.input1 {
  width: 501px;
  color: var(--color-gray-500);
  padding: 0;
  max-width: 100%;
}
.input2 {
  width: 109px;
  color: var(--text2);
  opacity: 0.4;
}
.passwordLabelValues1 {
  align-self: stretch;
  height: 43px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-6xs);
  max-width: 100%;
  z-index: 1;
}
.input3,
.phoneNumberValues {
  border: 0;
  outline: 0;
  font-family: var(--font-nanum-gothic);
  font-size: var(--title-16px-regular-size);
  background-color: transparent;
  position: relative;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.input3 {
  width: 45px;
  color: var(--text2);
  opacity: 0.4;
}
.phoneNumberValues {
  width: 31px;
  color: var(--color-gray-500);
  padding: 0;
}
.phoneFields,
.phoneFieldsChild {
  width: 148px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.phoneFieldsChild {
  height: 43px;
  position: relative;
  display: none;
}
.phoneFields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-smi) var(--padding-6xs);
  z-index: 1;
}
.div3 {
  position: relative;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  min-width: 7px;
}
.phoneFields1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.input4 {
  width: 70px;
  border: 0;
  outline: 0;
  font-family: var(--font-nanum-gothic);
  font-size: var(--title-16px-regular-size);
  background-color: transparent;
  position: relative;
  line-height: 24px;
  color: var(--text2);
  text-align: left;
  display: inline-block;
  opacity: 0.4;
}
.phoneFields2,
.phoneFieldsItem,
.phoneInputChild {
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.phoneFieldsItem {
  height: 43px;
  width: 196px;
  position: relative;
  display: none;
}
.phoneFields2,
.phoneInputChild {
  min-width: 127px;
}
.phoneFields2 {
  flex: 0.8763;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-6xs);
  min-height: 43px;
  z-index: 1;
}
.phoneInputChild {
  outline: 0;
  background-color: transparent;
  height: 43px;
  flex: 1;
  position: relative;
}
.phoneInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  color: var(--text2);
}
.input5,
.passwordLabels {
  text-align: left;
  font-size: var(--title-16px-regular-size);
  font-family: var(--font-nanum-gothic);
}
.input5 {
  width: 60px;
  border: 0;
  outline: 0;
  background-color: transparent;
  position: relative;
  line-height: 24px;
  color: var(--text2);
  display: inline-block;
  opacity: 0.4;
}
.passwordLabels {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
  color: var(--color-gray-500);
}
@media screen and (max-width: 750px) {
  .memberTypeOptions {
    flex-wrap: wrap;
  }
  .phoneFields2,
  .phoneInputChild {
    flex: 1;
  }
  .phoneInput {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .information {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .membershipTypesParent {
    gap: var(--gap-lg);
  }
}
