<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo Paaji:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap" />
    <title>Fitme</title>
    <!-- 공통 js -->
    <script src="../global/main.js" defer></script>
    <!-- 자체 js(파일 이름 변경해서 사용) -->
    <script src="login.js" defer></script>
    <!-- 공통 Global CSS -->
    <link rel="stylesheet" href="../global/style.css">

    <!-- 각 컴포넌트 CSS -->
    <link rel="stylesheet" href="../components/header/style.css"> <!-- Header CSS -->
    <link rel="stylesheet" href="../components/footer/style.css"> <!-- Footer CSS -->

    <!-- 현재 페이지의 CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- 파비콘 -->
    <link rel="icon" type="image/png" href="/path/to/favicon.png">
    <link rel="apple-touch-icon" href="/path/to/apple-icon.png">
</head>
<body>
    <!-- Header -->
    <div id="header-placeholder"></div>

    <!-- 메인 콘텐츠 -->
    <main>
        <div class="container">
            <div class="parent">
                <b class="title">로그인</b>
                <div class="input-label">아이디</div>
                <input type="text" class="input-field" placeholder="아이디 입력" />
                <div class="input-label">비밀번호</div>
                <input type="password" class="input-field" placeholder="비밀번호 입력" />
                
                <div class="links">
                    <span class="link">아이디 찾기</span> | <span class="link">비밀번호 찾기</span>
                    <span class="link">회원가입</span>
                </div>
                <div class="button">
                    <b class="button-text">로그인</b>
                </div>
            </div>
        </div>
    </main>
    

    <!-- Footer -->
    <div id="footer-placeholder"></div>
</body>
</html>
