.fitme {
    position: relative;
    font-size: 32px;
    font-family: 'Baloo Paaji';
}
.shop {
    position: relative;
}
.frame-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.shop-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}
.frame-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent {
    flex: 1;
    border-radius: 62px;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}
.div {
    position: relative;
    letter-spacing: 0.29em;
}
.div1 {
    position: relative;
    letter-spacing: 0.29em;
    cursor: pointer;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.fitme-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: ABeeZee;
}

