.header-fitme {
    position: relative;
    font-size: 32px;
    font-family: 'Baloo Paaji';
}
.header-shop {
    position: relative;
}
.header-frame-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.header-shop-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.header-frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}
.header-frame-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.header-frame-parent {
    flex: 1;
    border-radius: 62px;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}
.header-div {
    position: relative;
    letter-spacing: 0.29em;
}
.header-div1 {
    position: relative;
    letter-spacing: 0.29em;
    cursor: pointer;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}
.header-fitme-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: ABeeZee;
}

.header-content {
    width: 1440px;       /* 가로 너비 설정 */
    height: 96px;        /* 높이 설정 */
    margin: 0 auto;      /* 중앙 정렬 */
    display: flex;       /* 플렉스 박스로 설정 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 내부 요소 간격 설정 */
    background-color: #ffffff; /* 배경색 (선택 사항) */
    box-sizing: border-box; /* padding이나 border가 width에 포함되도록 설정 */
}
.header {
    border-bottom: 1px solid #000000; /* 헤더 아래에 선 추가 */
    padding-bottom: 5px; /* 선과 콘텐츠 사이 여백 추가 */
}