<!-- try on 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

{% block contents %}

<h1>Virtual Try-On</h1>
<form action="http://127.0.0.1:5000" method="POST" enctype="multipart/form-data">
  <label for="person_image">Person Image:</label>
  {% if type == "Consumer" %}
  <input type="text" name="person_image" value="{{model_img_path}}" required><br><br>
  <input type="text" name="type" value="Consumer" required style="display: none;">
  {% elif type == "Designer" %}
  <input type="file" name="person_image" required><br><br>
  <input type="text" name="type" value="Designer" required style="display: none;">
  {% endif %}

  <label for="garment_image">Garment Image:</label>
  <input type="text" name="garment_image" value="{{product_img_path}}" required><br><br>

  <button type="submit">Submit</button>
</form>

{% endblock contents%}