<!-- 유저 관리 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

{% block contents %}

<div style="margin-top: 20px;">
  <h2>
    consumers
  </h2>
  {% if consumers != None %}
    {% for cid in consumers %}
      {% if cid != "root" %}
        user : {{cid}} <br>
        user info : {{consumers[cid]}}  
        <br>
        <a href="/user_delete?type=Consumer&uid={{cid}}">이 유저 삭제하기</a>
        <br><br><br><br>
      {% endif %}
    {% endfor %}
  {% endif %}
  

  <h2>
    designers
  </h2>
  {% if designers != None %}
    {% for did in designers %}
      user : {{did}} <br>
      user info : {{designers[did]}}  
      <br>
      <a href="/user_delete?type=Designer&uid={{did}}">이 유저 삭제하기</a>
      <br><br><br><br>
    {% endfor %}
  {% endif %}
  
</div>

{% endblock contents%}