<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block message %}
  <!-- 다른 HTML 파일의 message 블록의 내용이 올 자리 -->
  {% endblock message %}
  
  <header>
    <a href="{{url_for("index")}}">홈페이지</a>
    {% block user %}
    <!-- 다른 HTML 파일의 user 블록의 내용이 올 자리 -->
    {% endblock user %}
  </header>

  {% block contents %}
  <!-- 다른 HTML 파일의 contents 블록의 내용이 올 자리 -->
  {% endblock contents %}

  <footer>

  </footer>

</body>
</html>