<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo Paaji:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo Bhai:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=IBM+Plex+Sans+KR&display=swap" >
    <title>Fitme</title>
    <!-- 공통 js -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <!-- 자체 js(파일 이름 변경해서 사용) -->
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <!-- 공통 Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- 각 컴포넌트 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}"> <!-- header CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}"> <!-- Footer CSS -->
    <!-- 현재 페이지의 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- 파비콘 -->
    <link rel="icon" type="image/png" sizes="154x154" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
    <!-- Header -->
    <div id="header-placeholder"></div>

    <!-- 메인 콘텐츠 -->
    <main>
    <div class="top-selling-word">All Products</div>
    <div class="top-products-container">
        {% if products != "No_products" %}
        {% for pid in products %}
            <div class="top-product" onclick="window.location.href='/product_detail?pid={{pid}}'">
                <img src="{{products[pid]["img_path"]}}" class="top-product-image">
                <h3 class="top-product-title">{{products[pid]["product_name"]}}/h3>
                <div class="top-product-rating">
                    ★★★☆☆ <span>{{products[pid]["rating"]}}/5</span>
                </div>
                <p class="top-product-price">{{products[pid]["discounted_price"]}}원</p>
                <button class="top-virtual-try-on">Virtual Try On</button>
            </div>
        {% endfor %}

        {% else %}
        <div class="top-selling-word">아직 제품이 없습니다</div>
        {% endif %}
        
    <p></p>
    <p></p>
    <p></p>
    </main>

    <!-- Footer -->
    <div id="footer-placeholder"></div>
</body>
</html>
