<!-- 메인 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}  



{% block contents %}
<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Fit.Me</h1>
    <p class="hero-description">
      직접 입어보기 어렵다면?<br>클릭 한 번으로 착용해보기
    </p>
    <p class="hero-description-small">
      "FitMe" conveys the message of "finding clothes that fit me." It represents our goal of offering users an experience where they can try on and find outfits that best suit their body shape and style during the shopping process. We emphasize the core value of personalized service, proposing a customized shopping experience tailored to each customer.
    </p>
    <div class="hero-button">
      <div class="hero-button-content">Shop Now</div>
    </div>
  </div>
</div>
<div class="bottom-hero">
  <div class="bottom-hero-message">마이페이지에 내 사진 등록하고 가상 피팅해보세요!</div>
</div>

<div class="New-arrivals">
  <div class="New-arrivals-container">
    <div class="New-arrivals-name">
      NEW ARRIVALS
    </div>
    <div class="frame-container">
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 1" />
        <div class="item-info">
          <p class="item-name">베이직 롱 슬리브</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">38,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 2" />
        <div class="item-info">
          <p class="item-name">스키니 핏 청바지</p>
          <p class="item-rating">★ 3.5/5</p>
          <p class="item-price">39,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 3" />
        <div class="item-info">
          <p class="item-name">체크 셔츠</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">18,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 4" />
        <div class="item-info">
          <p class="item-name">베이지 버클 자켓</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">155,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
    </div>
    <div class="ViewA">
      <div class="ViewA-button">View All</div>
    </div>
    <div class="divline"></div>
  </div>
</div>


<div class="New-arrivals">
  <div class="New-arrivals-container">
    <div class="New-arrivals-name">
      TOP SELLING
    </div>
    <div class="frame-container">
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 1" />
        <div class="item-info">
          <p class="item-name">베이직 롱 슬리브</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">38,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 2" />
        <div class="item-info">
          <p class="item-name">스키니 핏 청바지</p>
          <p class="item-rating">★ 3.5/5</p>
          <p class="item-price">39,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 3" />
        <div class="item-info">
          <p class="item-name">체크 셔츠</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">18,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
      <div class="frame">
        <img src="https://via.placeholder.com/290" alt="Item 4" />
        <div class="item-info">
          <p class="item-name">베이지 버클 자켓</p>
          <p class="item-rating">★ 4.5/5</p>
          <p class="item-price">155,000원</p>
          <button class="virtual-try-on">Virtual Try on</button>
        </div>
      </div>
    </div>
    <div class="ViewA">
      <div class="ViewA-button">View All</div>
    </div>
  </div>
</div>

{% endblock contents %}