<!-- 메인 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}  



{% block contents %}
<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Fit.Me</h1>
    <p class="hero-description">
      직접 입어보기 어렵다면?<br>클릭 한 번으로 착용해보기
    </p>
    <p class="hero-description-small">
      "FitMe" conveys the message of "finding clothes that fit me." It represents our goal of offering users an experience where they can try on and find outfits that best suit their body shape and style during the shopping process. We emphasize the core value of personalized service, proposing a customized shopping experience tailored to each customer.
    </p>
    <button class="hero-button">Shop Now</button>
  </div>
</div>

{% endblock contents %}