<!-- 디자이너/소비자 구분 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 로그인 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}

{% block contents %}
<h1>
  로그인
</h1>
  <form action="{{url_for("login")}}" method="post">
    <input type="radio" name="type" value="designer" id="designer">
    <label for="designer">
      <span>
        디자이너
      </span>
    </label>
    
    <input type="radio" name="type" value="user" id="user">
    <label for="user">
      <span>
        일반 사용자
      </span>
    </label>
    
    <button type="submit">다음</button>
  </form>

{% endblock contents%}