<!-- 로그인 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 로그인 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {% if messages %} 
      <script type="text/javascript">
        alert("{{messages[-1]}}");
      </script>
    {% endif %}
  {%endwith%}
{% endblock message %}


{% block contents %}

  <form action="{{url_for("login_done")}}" method="post">
    <p>user id : </p>
    <input type="text" name="id" id="id">
    <p>password : </p>
    <input type="password" name="pwd" id="pwd">
    <button type="submit">로그인</button>
  </form>

{% endblock contents%}