<!-- 제품 등록 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 제품등록 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}


{% block contents %}

  <form action="{{url_for("registration_done")}}" method="post" enctype="multipart/form-data">
    <p>product id: </p>
    <input type="text" name="id" id="id">
    <p>product category: </p>
    <select name="category" id="category">
      <option value="top">상의</option>
      <option value="pants">하의</option>
      <option value="dress">원피스</option>
      <option value="outer">아우터</option>
    </select>
    <p>정가: </p>
    <input type="text" name="original_price" id="original_price">
    <p>판매가: </p>
    <input type="text" name="discounted_price" id="discounted_price">
    <p>할인율: </p>
    <input type="text" name="discount_rate" id="discount_rate">
    <p>제품명: </p>
    <input type="text" name="name" id="name">
    <p>제품 설명: </p>
    <input type="text" name="product_explain" id="product_explain">
    <p>별점: </p>
    <input type="text" name="rating" id="rating">
    <p>판매량: </p>
    <input type="text" name="sales_volume" id="sales_volume">
    <p>제품 이미지: </p>
    <input type="file" name="product_img" id="product_img" required>
    <button type="submit">제품 등록하기</button>
  </form>

{% endblock contents%}