<!-- 제품 등록 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 제품등록 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}


{% block contents %}

  <form action="{{url_for("registration_done")}}" method="get">
    <p>product id: </p>
    <input type="text" name="id" id="id">
    <p>price: </p>
    <input type="text" name="price" id="price">
    <p>product name: </p>
    <input type="text" name="name" id="name">
    <button type="submit">제품 등록하기</button>
  </form>

{% endblock contents%}