<!-- 제품 상세정보 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 로그인/사진 업로드 요청 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}

{% block contents %}

<div style="margin-top: 20px;">
  <div style="margin-top: 10px;">
    <img src="/{{product_info["img_path"]}}" alt="제품 이미지" width="200px">  <!-- 제품 이미지 이름은 pid.jpg 형태로 통일하기 -->
  </div>
  <div style="margin-top: 10px;">
    {{product_info['product_name']}} <br>
    {% if user_type != "Designer" %}
    {{product_info['price']}}원 <br>
    {% endif %}
    {{product_info['product_explain']}} <br>


    {% if user_type != "Designer" %}
    <a href="/try_on?pid={{product_info["pid"]}}">이 옷 입어보기</a>
    {% endif %}

    {% if user_type == "Designer" %}
    <a href="/product_delete?pid={{pid}}">이 제품 삭제하기</a> <br>
    {% endif %}
  </div>
  <div style="margin-top: 10px;">
    
  </div>
</div>

{% endblock contents%}