<!-- 회원가입 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 회원가입 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}


{% block contents %}

  <form action="{{url_for("signin_done")}}" method="post" enctype="multipart/form-data">
    <p>user id: </p>
    <input type="text" name="id" id="id">
    <p>password: </p>
    <input type="password" name="pwd" id="pwd">
    <p>name: </p>
    <input type="text" name="name" id="name">
    <p>옷 입어보기용 이미지: </p>
    <input type="file" name="user_img" id="user_img">
    <button type="submit">회원가입하기</button>
  </form>

{% endblock contents%}