<!-- Consumer 회원가입 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}


{% block contents %}

  <form action="{{url_for("signin_done")}}" method="post" enctype="multipart/form-data">
    <p>user id: </p>
    <input type="text" name="id" id="id" required>
    <p>password: </p>
    <input type="password" name="pwd" id="pwd" required>
    <p>name: </p>
    <input type="text" name="name" id="name" required>
    <p>phone: </p>
    <input type="text" name="phone" id="phone" required>
    <p>email: </p>
    <input type="email" name="email" id="email" required>
    <p>옷 입어보기용 이미지: </p>
    <input type="file" name="consumer_img" id="consumer_img">

    <input type="text" name="type" id="type" value="Consumer" style="display: none;" required>
    <button type="submit">회원가입하기</button>
  </form>

{% endblock contents%}