<div class="Homepage" style="width: 1440px; height: 4370px; position: relative; background: white">
    <img class="Rectangle2" style="width: 1440px; height: 663px; left: 0px; top: 134px; position: absolute; background: linear-gradient(0deg, #F2F0F1 0%, #F2F0F1 100%)" src="https://via.placeholder.com/1440x663" />
    <div class="Vector" style="width: 104px; height: 104px; left: 1255px; top: 220px; position: absolute; background: black"></div>
    <div class="Vector" style="width: 56px; height: 56px; left: 750px; top: 431px; position: absolute; background: black"></div>
    <div class="Frame6" style="width: 1240px; left: 100px; top: 62px; position: absolute; justify-content: center; align-items: center; gap: 40px; display: inline-flex">
      <div class="FitMe" style="color: #1B6147; font-size: 32px; font-family: Baloo Paaji; font-weight: 400; word-wrap: break-word">Fit.Me</div>
      <div class="Frame2" style="justify-content: flex-start; align-items: center; gap: 24px; display: flex">
        <div class="Frame4" style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
          <div class="Shop" style="color: black; font-size: 16px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">Shop</div>
          <div class="Frame" style="width: 16px; height: 16px; padding-top: 5.25px; padding-bottom: 4.25px; padding-left: 2.25px; padding-right: 2.25px; justify-content: center; align-items: center; display: flex">
            <div class="Vector" style="width: 11.50px; height: 6.50px; background: black"></div>
          </div>
        </div>
      </div>
      <div class="Frame3" style="flex: 1 1 0; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        <div class="Frame" style="width: 24px; height: 24px; padding-top: 1.86px; padding-bottom: 1.87px; padding-left: 1.86px; padding-right: 1.87px; justify-content: center; align-items: center; display: flex">
          <div class="Vector" style="width: 20.27px; height: 20.27px; background: rgba(0, 0, 0, 0.40)"></div>
        </div>
        <div class="SearchForProducts" style="color: rgba(0, 0, 0, 0.40); font-size: 16px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">Search for products...</div>
      </div>
      <div class="Frame5" style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
        <div class="Frame" style="width: 24px; height: 24px; padding-top: 1.88px; padding-bottom: 1.87px; padding-right: 1.87px; justify-content: center; align-items: center; display: flex">
          <div class="Vector" style="width: 22.13px; height: 20.25px; background: black"></div>
        </div>
        <div class="Frame" style="width: 24px; height: 24px; padding-top: 1.88px; padding-bottom: 1.87px; padding-left: 1.87px; padding-right: 1.88px; justify-content: center; align-items: center; display: flex">
          <div class="Vector" style="width: 20.25px; height: 20.25px; background: black"></div>
        </div>
      </div>
    </div>
    <div class="FitMe" style="left: 91px; top: 194px; position: absolute; color: #1B6147; font-size: 96px; font-family: Baloo Paaji; font-weight: 400; word-wrap: break-word">Fit.Me</div>
    <div style="width: 1006px; left: 91px; top: 353px; position: absolute; color: black; font-size: 48px; font-family: NanumGothic; font-weight: 800; line-height: 59px; word-wrap: break-word">직접 입어보기 어렵다면? <br/>클릭 한번으로 착용해보기</div>
    <div class="FitmeConveysTheMessageOfFindingClothesThatFitMeItRepresentsOurGoalOfOfferingUsersAnExperienceWhereTheyCanTryOnAndFindOutfitsThatBestSuitTheirBodyShapeAndStyleDuringTheShoppingProcessWeEmphasizeTheCoreValueOfPersonalizedServiceProposingACustomizedShoppingExperienceTailoredToEachCustomer" style="width: 545px; left: 100px; top: 509px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"FitMe" conveys the message of "finding clothes that fit me." It represents our goal of offering users an experience where they can try on and find outfits that best suit their body shape and style during the shopping process. We emphasize the core value of personalized service, proposing a customized shopping experience tailored to each customer.</div>
    <div class="Frame14" style="width: 210px; height: 52px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 100px; top: 645px; position: absolute; background: black; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
      <div class="ShopNow" style="color: white; font-size: 16px; font-family: NanumGothic; font-weight: 400; word-wrap: break-word">Shop Now</div>
    </div>
    <div class="Rectangle3" style="width: 1440px; height: 122px; left: 0px; top: 797px; position: absolute; background: black"></div>
    <div class="NewArrivals" style="left: 557px; top: 982px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Baloo Bhai; font-weight: 400; word-wrap: break-word">NEW ARRIVALS</div>
    <div class="TopSelling" style="left: 604px; top: 1719px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Baloo Bhai; font-weight: 400; word-wrap: break-word">top selling</div>
    <div class="OurHappyCustomers" style="left: 100px; top: 3479px; position: absolute; color: black; font-size: 48px; font-family: Baloo Bhai; font-weight: 400; word-wrap: break-word">OUR HAPPY CUSTOMERS</div>
    <div class="Frame35" style="left: 100px; top: 1453px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">4.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="Frame40" style="left: 730px; top: 1453px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">4.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="Frame41" style="left: 1045px; top: 1453px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">4.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="Frame32" style="width: 295px; height: 298px; padding-left: 18px; padding-right: 18px; left: 100px; top: 1104px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image54" style="width: 259px; height: 345px" src="https://via.placeholder.com/259x345" />
    </div>
    <div class="Frame33" style="height: 298px; padding-left: 14px; padding-right: 13px; left: 415px; top: 1104px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image8" style="width: 268px; height: 402px" src="https://via.placeholder.com/268x402" />
    </div>
    <div class="Frame34" style="width: 295px; height: 298px; left: 730px; top: 1104px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image9" style="width: 296px; height: 444px" src="https://via.placeholder.com/296x444" />
    </div>
    <div class="Frame38" style="width: 295px; height: 298px; padding-left: 16px; padding-right: 17px; left: 1045px; top: 1104px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image55" style="width: 262px; height: 349px" src="https://via.placeholder.com/262x349" />
    </div>
    <div style="left: 100px; top: 1419px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">베이직 롱 슬리브</div>
    <div style="left: 730px; top: 1419px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">체크 셔츠</div>
    <div style="left: 1045px; top: 1419px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">베이지 버클 자켓</div>
    <div class="Frame58" style="left: 100px; top: 1480px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="000" style="color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">38,000원</div>
    </div>
    <div class="Frame44" style="left: 1045px; top: 1480px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="000" style="color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">155,000원</div>
    </div>
    <div class="000" style="left: 730px; top: 1482px; position: absolute; color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">18,000원</div>
    <div class="Frame32" style="width: 295px; height: 298px; left: 100px; top: 1841px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div class="Image7" style="width: 296px; height: 444px"></div>
    </div>
    <div class="Frame33" style="width: 295px; height: 298px; padding-top: 6px; padding-bottom: 5px; padding-left: 39px; padding-right: 40px; left: 415px; top: 1841px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image53" style="width: 216px; height: 287px" src="https://via.placeholder.com/216x287" />
    </div>
    <div class="Frame34" style="width: 295px; height: 298px; left: 730px; top: 1841px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden">
      <div class="Image9" style="width: 296px; height: 444px; left: 0px; top: -73px; position: absolute"></div>
      <img class="Image" style="width: 204px; height: 306px; left: 45px; top: 0px; position: absolute" src="https://via.placeholder.com/204x306" />
    </div>
    <div class="Frame38" style="height: 298px; padding-left: 14px; padding-right: 13px; left: 1045px; top: 1841px; position: absolute; background: #F0EEED; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <img class="Image8" style="width: 268px; height: 402px" src="https://via.placeholder.com/268x402" />
    </div>
    <div class="Frame28" style="width: 218px; height: 52px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 611px; top: 1548px; position: absolute; border-radius: 62px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
      <div class="ViewAll" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 400; word-wrap: break-word">View All</div>
    </div>
    <div class="Frame29" style="width: 218px; height: 52px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 611px; top: 2285px; position: absolute; border-radius: 62px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
      <div class="ViewAll" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 400; word-wrap: break-word">View All</div>
    </div>
    <div class="Line4" style="width: 1240px; height: 0px; left: 100px; top: 1664px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
    <div class="Frame60" style="width: 1239px; height: 866px; left: 100px; top: 2497px; position: absolute; background: #F0F0F0; border-radius: 40px; overflow: hidden">
      <div class="BrowseByDressStyle" style="left: 357px; top: 61px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Baloo Bhai; font-weight: 400; word-wrap: break-word">BROWSE BY dress STYLE</div>
      <div class="Frame61" style="width: 407px; height: 289px; left: 64px; top: 192px; position: absolute; background: white; border-radius: 20px; overflow: hidden">
        <img class="Image11" style="width: 973px; height: 649px; left: 626px; top: -122px; position: absolute; transform: rotate(180deg); transform-origin: 0 0" src="https://via.placeholder.com/973x649" />
        <div class="Casual" style="left: 36px; top: 20px; position: absolute; color: black; font-size: 36px; font-family: Baloo 2; font-weight: 400; word-wrap: break-word">Casual</div>
      </div>
      <div class="Frame63" style="width: 407px; height: 289px; left: 768px; top: 501px; position: absolute; background: white; border-radius: 20px; overflow: hidden">
        <img class="Image14" style="width: 452px; height: 677px; left: 53px; top: -148px; position: absolute" src="https://via.placeholder.com/452x677" />
        <div class="Gym" style="left: 36px; top: 20px; position: absolute; color: black; font-size: 36px; font-family: Baloo 2; font-weight: 400; word-wrap: break-word">Gym</div>
      </div>
      <div class="Frame62" style="width: 684px; height: 289px; left: 491px; top: 192px; position: absolute; background: white; border-radius: 20px; overflow: hidden">
        <img class="Image13" style="width: 1306px; height: 870px; left: 0px; top: -146px; position: absolute" src="https://via.placeholder.com/1306x870" />
        <div class="Formal" style="left: 36px; top: 20px; position: absolute; color: black; font-size: 36px; font-family: Baloo 2; font-weight: 400; word-wrap: break-word">Formal</div>
      </div>
      <div class="Frame64" style="width: 684px; height: 289px; left: 64px; top: 501px; position: absolute; background: white; border-radius: 20px; overflow: hidden">
        <img class="Image12" style="width: 770px; height: 616px; left: 42px; top: -163px; position: absolute" src="https://via.placeholder.com/770x616" />
        <div class="Kitch" style="left: 36px; top: 20px; position: absolute; color: black; font-size: 36px; font-family: Baloo 2; font-weight: 400; word-wrap: break-word">kitch</div>
      </div>
    </div>
    <div class="Frame22" style="width: 400px; height: 240px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 100px; top: 3586px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
      <div class="Frame30" style="flex: 1 1 0; height: 161.58px; justify-content: space-between; align-items: flex-start; display: flex">
        <div class="Frame29" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
          <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
          <div class="Frame28" style="align-self: stretch; height: 124px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Frame31" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div class="SarahM" style="color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">Sarah M.</div>
              <div class="Frame" style="width: 24px; height: 24px; padding: 2.25px; justify-content: center; align-items: center; display: flex">
                <div class="Vector" style="width: 19.50px; height: 19.50px; background: #01AB31"></div>
              </div>
            </div>
            <div class="IMBlownAwayByTheQualityAndStyleOfTheClothesIReceivedFromShopCoFromCasualWearToElegantDressesEveryPieceIVeBoughtHasExceededMyExpectations" style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Frame63" style="width: 400px; height: 240px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: -320px; top: 3586px; position: absolute; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; filter: blur(4px); justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
      <div class="Frame30" style="flex: 1 1 0; height: 161.58px; justify-content: space-between; align-items: flex-start; display: flex">
        <div class="Frame29" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
          <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
          <div class="Frame28" style="align-self: stretch; height: 124px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Frame31" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div class="SarahM" style="color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">Sarah M.</div>
              <div class="Frame" style="width: 24px; height: 24px; padding: 2.25px; justify-content: center; align-items: center; display: flex">
                <div class="Vector" style="width: 19.50px; height: 19.50px; background: #01AB31"></div>
              </div>
            </div>
            <div class="IMBlownAwayByTheQualityAndStyleOfTheClothesIReceivedFromShopCoFromCasualWearToElegantDressesEveryPieceIVeBoughtHasExceededMyExpectations" style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Frame61" style="width: 400px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 520px; top: 3586px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
      <div class="Frame30" style="flex: 1 1 0; height: 183.58px; justify-content: space-between; align-items: flex-start; display: flex">
        <div class="Frame29" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
          <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
          <div class="Frame28" style="align-self: stretch; height: 146px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Frame31" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div class="AlexK" style="color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">Alex K.</div>
              <div class="Frame" style="width: 24px; height: 24px; padding: 2.25px; justify-content: center; align-items: center; display: flex">
                <div class="Vector" style="width: 19.50px; height: 19.50px; background: #01AB31"></div>
              </div>
            </div>
            <div class="FindingClothesThatAlignWithMyPersonalStyleUsedToBeAChallengeUntilIDiscoveredShopCoTheRangeOfOptionsTheyOfferIsTrulyRemarkableCateringToAVarietyOfTastesAndOccasions" style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions.”</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Frame62" style="width: 400px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 940px; top: 3586px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
      <div class="Frame30" style="flex: 1 1 0; height: 183.58px; justify-content: space-between; align-items: flex-start; display: flex">
        <div class="Frame29" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
          <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
          <div class="Frame28" style="align-self: stretch; height: 146px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Frame31" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div class="JamesL" style="color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">James L.</div>
              <div class="Frame" style="width: 24px; height: 24px; padding: 2.25px; justify-content: center; align-items: center; display: flex">
                <div class="Vector" style="width: 19.50px; height: 19.50px; background: #01AB31"></div>
              </div>
            </div>
            <div class="AsSomeoneWhoSAlwaysOnTheLookoutForUniqueFashionPiecesIMThrilledToHaveStumbledUponShopCoTheSelectionOfClothesIsNotOnlyDiverseButAlsoOnPointWithTheLatestTrends" style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</div>
          </div>
        </div>
      </div>
    </div>
    <div class="Frame64" style="width: 400px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 1360px; top: 3586px; position: absolute; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; filter: blur(4px); justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
      <div class="Frame30" style="flex: 1 1 0; height: 183.58px; justify-content: space-between; align-items: flex-start; display: flex">
        <div class="Frame29" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
          <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
          <div class="Frame28" style="align-self: stretch; height: 146px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
            <div class="Frame31" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div class="Mooen" style="color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">Mooen</div>
              <div class="Frame" style="width: 24px; height: 24px; padding: 2.25px; justify-content: center; align-items: center; display: flex">
                <div class="Vector" style="width: 19.50px; height: 19.50px; background: #01AB31"></div>
              </div>
            </div>
            <div class="AsSomeoneWhoSAlwaysOnTheLookoutForUniqueFashionPiecesIMThrilledToHaveStumbledUponShopCoTheSelectionOfClothesIsNotOnlyDiverseButAlsoOnPointWithTheLatestTrends" style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">"As someone who's always on the lookout for unique fashion pieces, I'm thrilled to have stumbled upon Shop.co. The selection of clothes is not only diverse but also on-point with the latest trends.”</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ArrowDownBold1" style="width: 24px; height: 24px; padding-left: 4.12px; padding-right: 4.12px; padding-top: 2.62px; padding-bottom: 2.62px; left: 1316px; top: 3546px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
      <div class="Vector" style="width: 15.76px; height: 18.75px; background: black"></div>
    </div>
    <div class="ArrowDownBold2" style="width: 24px; height: 24px; padding-left: 4.12px; padding-right: 4.12px; padding-top: 2.62px; padding-bottom: 2.62px; left: 1300px; top: 3546px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
      <div class="Vector" style="width: 15.76px; height: 18.75px; background: black"></div>
    </div>
    <div class="Frame1" style="padding-top: 9px; padding-bottom: 9px; padding-left: 633px; padding-right: 100px; left: 0px; top: 0px; position: absolute; background: #3EB489; justify-content: flex-end; align-items: flex-end; gap: 512px; display: inline-flex">
      <div class="LogInToTryOnAllOutfits" style="color: white; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">Log in to try on all outfits.</div>
      <div class="Frame" style="width: 20px; height: 20px; padding-top: 3.43px; padding-bottom: 3.44px; padding-left: 3.44px; padding-right: 3.44px; justify-content: center; align-items: center; display: inline-flex">
        <div class="Vector" style="width: 13.13px; height: 13.13px; background: white"></div>
      </div>
    </div>
    <img class="Image53" style="width: 251px; height: 334px; left: 120px; top: 1823px; position: absolute" src="https://via.placeholder.com/251x334" />
    <div class="Frame68" style="left: 1045px; top: 2190px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">3.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div style="left: 1045px; top: 2156px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">스키니 핏 청바지</div>
    <div class="Frame92" style="left: 1045px; top: 2217px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="000" style="color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">39,000원</div>
    </div>
    <div class="Frame91" style="height: 40px; left: 1205px; top: 2211px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame93" style="left: 100px; top: 2194px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">3.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="Frame94" style="left: 415px; top: 2194px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">4.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="Frame95" style="left: 730px; top: 2194px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex"></div>
      <div class="05"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5.0/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div class="T" style="left: 100px; top: 2160px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">롱 슬리브 펀칭 버튼 T</div>
    <div style="left: 415px; top: 2160px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">레트로 후드집업</div>
    <div style="left: 730px; top: 2160px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">데님 홀터 드레스</div>
    <div class="Frame96" style="left: 730px; top: 2221px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="000" style="color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">82,000원</div>
    </div>
    <div class="000" style="left: 100px; top: 2223px; position: absolute; color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">39,000원</div>
    <div class="000" style="left: 415px; top: 2223px; position: absolute; color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">98,000원</div>
    <div class="Frame46" style="height: 40px; left: 261px; top: 2216px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame89" style="height: 40px; left: 576px; top: 2216px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame90" style="height: 40px; left: 891px; top: 2216px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame97" style="left: 415px; top: 1449px; position: absolute; justify-content: flex-start; align-items: center; gap: 13px; display: inline-flex">
      <div class="Frame10" style="justify-content: flex-start; align-items: flex-start; gap: 5.31px; display: flex">
        <div class="Star5" style="width: 8.79px; height: 16.72px; background: #FFC633"></div>
      </div>
      <div class="55"><span style="color: black; font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">3.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">5</span></div>
    </div>
    <div style="left: 415px; top: 1415px; position: absolute; color: black; font-size: 20px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">스키니 핏 청바지</div>
    <div class="Frame98" style="left: 415px; top: 1476px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
      <div class="000" style="color: black; font-size: 24px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">39,000원</div>
    </div>
    <div class="Frame99" style="height: 40px; left: 575px; top: 1470px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame100" style="height: 40px; left: 891px; top: 1470px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame101" style="height: 40px; left: 1206px; top: 1470px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div class="Frame102" style="height: 40px; left: 261px; top: 1470px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div class="Frame4" style="width: 134px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #52FFC0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
        <div class="VirtualTryOn" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 800; word-wrap: break-word">Virtual Try on</div>
      </div>
    </div>
    <div style="width: 1006px; left: 245px; top: 817px; position: absolute; color: white; font-size: 40px; font-family: NanumGothic; font-weight: 800; line-height: 82px; word-wrap: break-word">마이페이지에 내 사진 등록하고 가상 피팅해보세요!</div>
    <div class="Rectangle4" style="width: 1441px; height: 451px; left: -1px; top: 3934px; position: absolute; background: #F0F0F0"></div>
    <div class="Line13" style="width: 1240px; height: 0px; left: 100px; top: 4253px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
    <div class="Frame66" style="width: 1240px; left: 100px; top: 4026px; position: absolute; justify-content: space-between; align-items: flex-start; display: inline-flex">
      <div class="Frame51" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 35px; display: inline-flex">
        <div class="Frame50" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: flex">
          <div class="FitMe" style="color: black; font-size: 32px; font-family: Baloo Paaji; font-weight: 400; word-wrap: break-word">Fit.Me</div>
          <div class="YouCanVirtuallyTryOnAnyOutfitYouWantOnline" style="width: 248px; color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; line-height: 22px; word-wrap: break-word">You can virtually try on any outfit you want online.</div>
        </div>
        <div class="Social" style="width: 148px; height: 28px; position: relative">
          <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute">
            <div class="Bg" style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
            <div class="Vector" style="width: 11.17px; height: 9.03px; left: 9.03px; top: 9.94px; position: absolute; background: black"></div>
          </div>
          <div style="width: 28px; height: 28px; left: 40px; top: 0px; position: absolute">
            <div class="Bg" style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 9999px"></div>
            <div class="Vector" style="width: 6.32px; height: 12.17px; left: 10.84px; top: 8.13px; position: absolute; background: white"></div>
          </div>
          <div style="width: 28px; height: 28px; left: 80px; top: 0px; position: absolute">
            <div class="Bg" style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
            <div class="Group" style="width: 13.55px; height: 13.55px; left: 7.23px; top: 7.23px; position: absolute">
              <div class="Vector" style="width: 13.55px; height: 13.55px; left: 0px; top: 0px; position: absolute; background: black"></div>
              <div class="Vector" style="width: 6.96px; height: 6.96px; left: 3.30px; top: 3.30px; position: absolute; background: black"></div>
              <div class="Vector" style="width: 1.63px; height: 1.63px; left: 9.58px; top: 2.35px; position: absolute; background: black"></div>
            </div>
          </div>
          <div style="width: 28px; height: 28px; left: 120px; top: 0px; position: absolute">
            <div class="Bg" style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
            <div class="Vector" style="width: 12.96px; height: 12.65px; left: 8.13px; top: 7.23px; position: absolute; background: black"></div>
          </div>
        </div>
      </div>
      <div class="Frame47" style="flex-direction: column; justify-content: center; align-items: center; gap: 26px; display: inline-flex">
        <div class="HelpMenu" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 400; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">APP</div>
        <img class="Image" style="width: 81px; height: 81px" src="https://via.placeholder.com/81x81" />
        <div class="AboutFeaturesWorks" style="text-align: center; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 19px; word-wrap: break-word">You can quickly receive <br/>notifications about <br/>various benefits.</div>
      </div>
      <div class="Frame48" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
        <div class="HelpMenu" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 400; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">Help</div>
        <div class="AboutFeaturesWorks" style="color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 19px; word-wrap: break-word">Customer Support<br/><br/>Delivery Details<br/><br/>Terms & Conditions<br/><br/>Privacy Policy</div>
      </div>
      <div class="Frame52" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
        <div class="HelpMenu" style="color: black; font-size: 16px; font-family: NanumGothic; font-weight: 400; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">FAQ</div>
        <div class="AboutFeaturesWorks" style="width: 149px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: ABeeZee; font-weight: 400; line-height: 19px; word-wrap: break-word">Account<br/><br/>Manage Deliveries<br/><br/>Orders<br/><br/>Payments</div>
      </div>
    </div>
    <div class="Frame67" style="left: 1059px; top: 4273px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 12px; display: inline-flex">
      <div class="Badge" style="width: 46.61px; height: 30.03px; padding-top: 9.94px; padding-bottom: 9.59px; padding-left: 6.91px; padding-right: 7.17px; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid; justify-content: center; align-items: center; display: flex">
        <div class="Visa" style="width: 32.54px; height: 10.51px; background: #1434CB"></div>
      </div>
      <div class="Badge" style="width: 46.61px; height: 30.03px; padding-top: 7.17px; padding-bottom: 7.17px; padding-left: 10.53px; padding-right: 10.70px; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid; justify-content: center; align-items: center; display: flex">
        <div class="Mastercard" style="width: 25.38px; height: 15.69px"></div>
      </div>
      <div class="Badge" style="width: 46.61px; height: 30.03px; padding-top: 10.65px; padding-bottom: 10.18px; padding-left: 6.05px; padding-right: 6.01px; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid; justify-content: center; align-items: center; display: flex">
        <div class="Paypal" style="width: 34.55px; height: 9.21px"></div>
      </div>
      <div class="Badge" style="width: 46.61px; height: 30.03px; padding-top: 9.64px; padding-bottom: 9.19px; padding-left: 10.08px; padding-right: 10.11px; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid; justify-content: center; align-items: center; display: flex">
        <div class="Pay" style="width: 26.41px; height: 11.21px; background: #000008"></div>
      </div>
      <div class="Badge" style="width: 46.61px; height: 30.03px; padding-top: 9.86px; padding-bottom: 8.96px; padding-left: 8.96px; padding-right: 9.09px; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid; justify-content: center; align-items: center; display: flex">
        <div class="GPay" style="width: 28.56px; height: 11.21px"></div>
      </div>
    </div>
    <div class="20002021AllRightsReserved" style="left: 85px; top: 4278px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">Shop.co © 2024-2034, All Rights Reserved</div>
  </div>