<!-- No_img 회원 사진 업로드 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 업로드 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}

{% block contents %}

  <form action="{{url_for("upload_done", uid=uid)}}" method="post" enctype="multipart/form-data">
    <p>옷 입어보기용 이미지: </p>
    <input type="file" name="user_img" id="user_img">
    <button type="submit">업로드하기</button>
  </form>

{% endblock contents%}