<!-- 디자이너 유저 제품 업로드 페이지 -->

<!-- base.html의 뼈대를 사용 -->
{% extends "base.html" %}

<!-- 업로드 실패 메세지 -->
{% block message %}
  {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
{% endblock message %}

{% block contents %}

  <form action="{{url_for("upload_product_done", did=did)}}" method="post" enctype="multipart/form-data">
    <p>product name: </p>
    <input type="text" name="name" id="name">
    <p>제품 설명: </p>
    <input type="text" name="product_explain" id="product_explain">
    <p>제품 이미지: </p>
    <input type="file" name="product_img" id="product_img" required>
    <button type="submit">업로드하기</button>
  </form>

{% endblock contents%}
