<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-frame-parent">
                <div class="footer-frame-group">
                    <div class="footer-fitme-parent">
                        <div class="footer-fitme">Fit.Me</div>
                        <div class="footer-you-can-virtually">You can virtually try on any outfit you want online.</div>
                    </div>
                    
                </div>
                
                <div class="footer-help-menu-group">
                    <div class="footer-help-menu">HELP</div>
                    <div class="footer-about-features-works-container1">
                        <p class="footer-you-can-quickly">Customer Support</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Delivery Details</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Terms & Conditions</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Privacy Policy</p>
                    </div>
                </div>
                <div class="footer-help-menu-group">
                    <div class="footer-help-menu">FAQ</div>
                    <div class="footer-about-features-works-container2">
                        <p class="footer-you-can-quickly">Account</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Manage Deliveries</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Orders</p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly">Payments</p>
                    </div>
                </div>
                <!-- 빈 열 추가  -->
                <div class="footer-help-menu-group">
                    <div class="footer-help-menu"></div>
                    <div class="footer-about-features-works-container2">
                        <p class="footer-you-can-quickly"></p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly"></p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly"></p>
                        <p class="footer-you-can-quickly">&nbsp;</p>
                        <p class="footer-you-can-quickly"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="footer.js"></script>
