<footer class="header">
    <div class="header-content">
        <div class="header-fitme-parent">
    		<div class="header-fitme"  onclick="window.location.href='/'">Fit.Me</div>
    		<div class="header-frame-wrapper">
      			<div class="header-shop-parent">
        				<div class="header-shop">Shop</div>
        				<img class="header-frame-icon" alt="" src="../../../static/img/dropdown.svg">
      			</div>
    		</div>
    		<div class="header-frame-parent">
      			<img class="header-frame-icon1" alt="" src="../../../static/img/search.svg">
      			<div class="header-shop">Search for products...</div>
    		</div>
    		<div class="header-div1" id="text1" onclick="window.location.href = '/category';">전체 제품 </div>
				
				{% if user_type == "Designer" %}
				<div class="header-div1" id="text1" onclick="window.location.href = '/upload_product';">제품 등록 </div>
				{% endif %}
				{% if user_id == "Login_needed" %}
				<div class="header-div1" id="text1" onclick="window.location.href = '/signin';">가입하기 </div>
				<div class="header-div1" id="text2" onclick="window.location.href = '/login';">로그인</div>
				{% else %}
				<div class="header-div1" id="text2" onclick="window.location.href = '/logout';">로그아웃</div>
				{% endif %}
    		
    		<div class="header-frame-group">
      			<img class="header-frame-icon1" alt="" src="../../../static/img/cart-icon.svg">
      			<img class="header-frame-icon1" alt="" src="../../../static/img/user.svg" onclick="window.location.href='/my_page'">
    		</div>
  	    </div>
    </div>
</footer>
<script src="header.js"></script>